:root {
	--bga-player-panel-background: #36293d;

	background: #292929;
	color: #d9d9d9;
	text-transform: lowercase !important;
}

html {
	--main-bg-colour: #292929;
}

body {
	font-family:
		Roboto Mono,
		monospace;
}

.pageheader {
	background-color: #1f1f1f !important;
	border-radius: 0.5rem !important;
}

.pagesection__content,
.portlet__content,
.tips__content {
	background-color: #1f1f1f !important;
	border-radius: 0.5rem !important;
	box-shadow: none !important;
	padding: 1rem !important;
}

.bga-menu-bar.svelte-1edikia.svelte-1edikia {
	background: #292929 !important;
	box-shadow: none !important;
}
.bga-menu-bar-items__menu-item.svelte-1duixkh.svelte-1duixkh {
	text-transform: lowercase !important;
	background: #ffffff16 !important;
	border-radius: 1rem;
	margin: 0.5rem 0.5rem;
}
.bga-menu-bar-items__menu-item.svelte-1duixkh.svelte-1duixkh:hover {
	background: #ffffff20 !important;
}
.bga-menu-bar-items__menu-item.svelte-1duixkh.svelte-1duixkh:last-of-type {
	display: none;
}

.bga-omni-bar-holder.svelte-1edikia.svelte-1edikia {
	.bg-white {
		background: #4d4d4d !important;
	}
}
.bga-omni-bar_button.svelte-ebwhm1.svelte-ebwhm1 {
	opacity: 0;
	width: 0;
}

.bga-link {
	font-family:
		Roboto Mono,
		monospace !important;
	font-weight: 600 !important;
	color: #bef4f4 !important;
	transition: none !important;
}
.bga-link:hover {
	color: #fccffc !important;
}

.bgabutton_blue {
	background: #363663 !important;
	border: none !important;
	box-shadow: none !important;
}
.bgabutton_blue:hover {
	background: #484884 !important;
}
.bgabutton_red {
	background: #993333 !important;
	border: none !important;
	box-shadow: none !important;
}
.bgabutton_red:hover {
	background: #bf4040 !important;
}
.bgabutton_gray {
	background: #4d4d4d !important;
	color: #fff !important;
	border: none !important;
	box-shadow: none !important;
}
.bgabutton_gray:hover {
	background: #666666 !important;
	color: #fff !important;
}
.bgabutton_blue:after,
.bgabutton_red:after,
.bgabutton_gray:after {
	border: none !important;
}

.pageheader_menu_verylarge .pageheader_big_switch {
	background-color: #1a1a1a !important;
	border-radius: 0.5rem !important;
	border-left: none !important;
	border-top: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	color: #bef4f4 !important;
}
.pageheader_menu_verylarge .pageheader_big_switch:hover {
	color: #fccffc !important;
}
.pageheader_menu_verylarge .pageheader_mobile_switcher_wrap {
	width: 30% !important;
}

.switcher_zone {
	background: #303030 !important;
	border-left: none !important;
	border-radius: 0.5rem !important;
	color: #bef4f4 !important;
}
.switcher_zone:hover {
	color: #fccffc !important;
}

.chatwindowcollapsed {
	background-color: #ffffff10 !important;
	border-radius: 0.5rem 0.5rem 0 0 !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	box-shadow: none !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.chatwindowcollapsed:hover {
	background-color: #ffffff20 !important;
}
#chatbarstackedmenu {
	display: none !important;
}
.chatwindowcollapsedtitle {
	color: #bef4f480 !important;
	left: 0 !important;
	top: 0 !important;
	position: relative !important;
}
.chatwindowcollapsedtitle:hover {
	color: #fccffc !important;
}

.tabbed_slider_bar_left,
.tabbed_slider_bar_right {
	display: none !important;
}
.tabbed_slider_bar_barcenter {
	background-color: #1f1f1f !important;
	font-weight: 600 !important;
	bottom: -1px !important;
	padding: 0 2rem 0.5rem 0.5rem !important;
	border-radius: 0 0 0.5rem 0.5rem !important;
	.icon_plus {
		display: none !important;
	}
}

.game_box_wrap,
.tiny_verycompactlobby .game_box_wrap.expandedgame_box_wrap {
	background: #ffffff0c !important;
	border: none !important;
	border-radius: 1rem !important;
}
.wannaplayauto_item .game_box_image_wrap {
	width: 7rem !important;
	height: 7rem !important;
	left: 1.5rem !important;
	margin-left: 0 !important;
}
.game_box_image_wrap img {
	width: 7rem !important;
	height: 7rem !important;
}
.gamename {
	color: #bef4f4 !important;
}
.gamename:hover {
	color: #fccffc !important;
}
.wannaplay_item .wannaplay_gamename {
	width: 80% !important;
	left: 10% !important;
}
.wannaplayauto_button {
	border: none !important;
}

.emblempremium {
	background-image: url(https://raw.githubusercontent.com/Alexdelia/vity-bga.css/refs/heads/main/asset/premium.svg) !important;
	background-position: 0 !important;
	width: 0.8rem !important;
	height: 0.8rem !important;
	right: -0.5rem !important;
	top: -0.2rem !important;
}
.emblempremium_big {
	background-image: url(https://raw.githubusercontent.com/Alexdelia/vity-bga.css/refs/heads/main/asset/premium.svg) !important;
	background-position: 0 !important;
	width: 2rem !important;
	height: 2rem !important;
}

.wannaplay_mask_button.del_favorite {
	background-color: #404040 !important;
}
.wannaplay_mask_button.del_favorite i {
	margin-top: 0.3rem !important;
}
.wannaplay_mask_button.wannaplayauto_pref {
	background-color: #595959 !important;
	margin: 0.25rem 0 !important;
}

.wannaplay_games_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	gap: 2rem;
	margin: 1rem 0 0 1rem !important;
}
.game_box_wrap {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 10rem !important;
	height: 10rem !important;
}
.wannaplay_item {
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}
.wannaplayauto_item {
	width: 10rem !important;
	height: 10rem !important;
}
.game_box_mask {
	width: 2rem !important;
}
.wannaplay_mask_button {
	width: 2rem !important;
	height: 2rem !important;
	border-radius: 100% !important;
}
.wannaplay_mask_button i {
	margin: 0.2rem !important;
	font-size: 1.6rem !important;
}

.bga_big_input {
	background-color: #4d4d4d !important;
	border: none !important;
	color: #cccccc !important;
}

#page-title {
	background-color: #00000000 !important;
	box-shadow: none !important;
	position: relative !important;
}
#topbar {
	background: #00000000 !important;
	box-shadow: none !important;
}
#topbar_content {
	height: 3rem !important;
}
.topbar_left_content {
	width: 100% !important;
}
#site-logo {
	display: none !important;
}
#tableinfos {
	flex-direction: row !important;
	width: 100% !important;
}

.gamestart_overlay {
	background: #292929 !important;
}

.statstable th {
	background-color: #194d33 !important;
}
.statstable td,
.statstable th {
	border: 1px solid #4d4d4d !important;
}
