:root {
	--bga-player-panel-background: #36293d;

	--bg-elevation-0: #1a1a1a;
	--bg-elevation-1: #1f1f1f;
	--bg-elevation-2: #292929;
	--bg-elevation-3: #303030;
	--bg-elevation-4: #404040;
	--bg-elevation-5: #4d4d4d;
	--bg-elevation-6: #595959;
	--bg-elevation-7: #666666;

	--number-font-family: "Maple Mono NL", monospace;
	--number-font-weight: 600;

	background: var(--bg-elevation-2);
	color: #d9d9d9;
	text-transform: lowercase !important;
}

html {
	--main-bg-colour: var(--bg-elevation-2);
}

body {
	font-family:
		Roboto Mono,
		monospace;
}

.pageheader {
	background-color: var(--bg-elevation-1) !important;
	border-radius: 0.5rem !important;
}

.pagesection__content,
.portlet__content,
.tips__content {
	background-color: var(--bg-elevation-1) !important;
	border-radius: 0.5rem !important;
	box-shadow: none !important;
	padding: 1rem !important;
}

.bga-menu-bar.svelte-1edikia.svelte-1edikia {
	background: var(--bg-elevation-2) !important;
	box-shadow: none !important;
}
.bga-menu-bar-items__menu-item.svelte-1duixkh.svelte-1duixkh {
	text-transform: lowercase !important;
	background: #ffffff16 !important;
	border-radius: 1rem;
	margin: 0.5rem 0.5rem;
}
.bga-menu-bar-items__menu-item.svelte-1duixkh.svelte-1duixkh:hover {
	background: #ffffff20 !important;
}
.bga-menu-bar-items__menu-item.svelte-1duixkh.svelte-1duixkh:last-of-type {
	display: none;
}

.bga-omni-bar-holder.svelte-1edikia.svelte-1edikia {
	.bg-white {
		background: var(--bg-elevation-5) !important;
	}
}
.bga-omni-bar_button.svelte-ebwhm1.svelte-ebwhm1 {
	opacity: 0;
	width: 0;
}

.bga-link {
	font-family:
		Roboto Mono,
		monospace !important;
	font-weight: 600 !important;
	color: #bef4f4 !important;
	transition: none !important;
}
.bga-link:hover {
	color: #fccffc !important;
}

.bgabutton_blue,
.bga-button--blue {
	background: #363663 !important;
	border: none !important;
	box-shadow: none !important;
}
.bgabutton_blue:hover,
.bga-button--blue:hover {
	background: #484884 !important;
}
.bgabutton_red,
.bga-button--red {
	background: #993333 !important;
	border: none !important;
	box-shadow: none !important;
}
.bgabutton_red:hover,
.bga-button--red:hover {
	background: #bf4040 !important;
}
.bgabutton_gray,
.bga-button--gray {
	background: var(--bg-elevation-5) !important;
	color: #fff !important;
	border: none !important;
	box-shadow: none !important;
}
.bgabutton_gray:hover,
.bga-button--gray:hover {
	background: var(--bg-elevation-7) !important;
	color: #fff !important;
}
.bgabutton_blue:after,
.bga-button--blue:after,
.bgabutton_red:after,
.bga-button--red:after,
.bgabutton_gray:after,
.bga-button--gray:after {
	border: none !important;
}

.pageheader_menu_verylarge .pageheader_big_switch {
	background-color: var(--bg-elevation-0) !important;
	border-radius: 0.5rem !important;
	border-left: none !important;
	border-top: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	color: #bef4f4 !important;
}
.pageheader_menu_verylarge .pageheader_big_switch:hover {
	color: #fccffc !important;
}
.pageheader_menu_verylarge .pageheader_mobile_switcher_wrap {
	width: 30% !important;
}

.switcher_zone {
	background: var(--bg-elevation-3) !important;
	border-left: none !important;
	border-radius: 0.5rem !important;
	color: #bef4f4 !important;
}
.switcher_zone:hover {
	color: #fccffc !important;
}

.chatwindowcollapsed {
	background-color: #ffffff10 !important;
	border-radius: 0.5rem 0.5rem 0 0 !important;
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;
	box-shadow: none !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
.chatwindowcollapsed:hover {
	background-color: #ffffff20 !important;
}
#chatbarstackedmenu {
	display: none !important;
}
.chatwindowcollapsedtitle {
	color: #bef4f480 !important;
	left: 0 !important;
	top: 0 !important;
	position: relative !important;
}
.chatwindowcollapsedtitle:hover {
	color: #fccffc !important;
}

.tabbed_slider_bar_left,
.tabbed_slider_bar_right {
	display: none !important;
}
.tabbed_slider_bar_barcenter {
	background-color: var(--bg-elevation-1) !important;
	font-weight: 600 !important;
	bottom: -1px !important;
	padding: 0 2rem 0.5rem 0.5rem !important;
	border-radius: 0 0 0.5rem 0.5rem !important;
	.icon_plus {
		display: none !important;
	}
}

.game_box_wrap,
.tiny_verycompactlobby .game_box_wrap.expandedgame_box_wrap {
	background: #ffffff0c !important;
	border: none !important;
	border-radius: 1rem !important;
}
.wannaplayauto_item .game_box_image_wrap {
	width: 7rem !important;
	height: 7rem !important;
	left: 1.5rem !important;
	margin-left: 0 !important;
}
.game_box_image_wrap img {
	width: 7rem !important;
	height: 7rem !important;
}
.gamename {
	color: #bef4f4 !important;
}
.gamename:hover {
	color: #fccffc !important;
}
.wannaplay_item .wannaplay_gamename {
	width: 80% !important;
	left: 10% !important;
}
.wannaplayauto_button {
	border: none !important;
}

.emblempremium {
	background-image: url(https://raw.githubusercontent.com/Alexdelia/vity-bga.css/refs/heads/main/asset/premium.svg) !important;
	background-position: 0 !important;
	width: 0.8rem !important;
	height: 0.8rem !important;
	right: -0.5rem !important;
	top: -0.2rem !important;
}
.emblempremium_big {
	background-image: url(https://raw.githubusercontent.com/Alexdelia/vity-bga.css/refs/heads/main/asset/premium.svg) !important;
	background-position: 0 !important;
	width: 2rem !important;
	height: 2rem !important;
}

.wannaplay_mask_button.del_favorite {
	background-color: var(--bg-elevation-4) !important;
}
.wannaplay_mask_button.del_favorite i {
	margin-top: 0.3rem !important;
}
.wannaplay_mask_button.wannaplayauto_pref {
	background-color: var(--bg-elevation-6) !important;
	margin: 0.25rem 0 !important;
}

.wannaplay_games_list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	gap: 2rem;
	margin: 1rem 0 0 1rem !important;
}
.game_box_wrap {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 10rem !important;
	height: 10rem !important;
}
.wannaplay_item {
	margin-bottom: 0 !important;
	margin-right: 0 !important;
}
.wannaplayauto_item {
	width: 10rem !important;
	height: 10rem !important;
}
.game_box_mask {
	width: 2rem !important;
}
.wannaplay_mask_button {
	width: 2rem !important;
	height: 2rem !important;
	border-radius: 100% !important;
}
.wannaplay_mask_button i {
	margin: 0.2rem !important;
	font-size: 1.6rem !important;
}
.wannaplay_mask_button.myelo .icon20 {
	display: none !important;
}
.myelo_value {
	bottom: 0.45rem !important;
	font-family: var(--number-font-family) !important;
	font-weight: var(--number-font-weight) !important;
	font-size: 0.8rem !important;
	position: absolute !important;
	width: 100% !important;
	margin: 0 !important;
}
#gamerank_value {
	font-family: var(--number-font-family) !important;
	font-weight: var(--number-font-weight) !important;
}
.wannaplay_mask_button.how_to_play_button i {
	margin-top: 0.4rem !important;
	font-size: 1.3rem !important;
}

.wannaplay_mask_button.how_to_play_button {
	background-color: #136c13;
}
.gamerank_apprentice {
	background-color: #0f8a61;
}
.gamerank_beginner {
	background-color: #0f8a8a;
}
.gamerank_average {
	background-color: #0f618a;
}
.gamerank_good {
	background-color: #0f388a;
}
.gamerank_strong {
	background-color: #0f0f8a;
}
.gamerank_expert {
	background-color: #380f8a;
}
.gamerank_master {
	background-color: #610f8a;
}

#player_name,
#real_player_name,
.playername {
	text-transform: none !important;
}

.xp_container {
	background-color: color-mix(
		in srgb,
		var(--bg-elevation-5) 50%,
		transparent
	) !important;
	border-radius: 1rem !important;
	border: none !important;

	padding: 0.25rem 0.5rem !important;

	color: #40bfbf !important;
	font-family: var(--number-font-family) !important;
	font-weight: var(--number-font-weight) !important;

	.arrow,
	.arrowback,
	.arrowl,
	.arrowbackl {
		display: none !important;
	}
}

.palmares_details {
	font-family: var(--number-font-family) !important;
	font-weight: var(--number-font-weight) !important;
}

.bga_big_input {
	background-color: var(--bg-elevation-5) !important;
	border: none !important;
	color: #cccccc !important;
}

#page-title {
	background-color: #00000000 !important;
	box-shadow: none !important;
	position: relative !important;
}
#topbar {
	background: #00000000 !important;
	box-shadow: none !important;
}
#topbar_content {
	height: 3rem !important;
}
.topbar_left_content {
	width: 100% !important;
}
#site-logo {
	display: none !important;
}
#tableinfos {
	flex-direction: row !important;
	width: 100% !important;
}

.gamestart_overlay {
	background: var(--bg-elevation-2) !important;
}

.statstable th {
	background-color: #194d33 !important;
}
.statstable td,
.statstable th {
	border: 1px solid var(--bg-elevation-5) !important;
}
